<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <script src="https://cdn.plot.ly/plotly-2.1.0.min.js"></script>

    <title>PGAA Data Analysis Window</title>
    <style>
        #container{
            border: 1px solid black;
            height: 670px;
            position:relative;
        }
        #topbar{
            position:absolute;
            top:10px;
            left:10px;
            width:99%;
        }
        #titleDiv{
            position:relative;
            left:10px;
            float:left;
            width:20em;
        }
        #rightAligned{
            position:relative;
            right:10px;
            float:right;
        }
        #currentUserDiv{
            border-left: 10px solid #fff;
            float:right;
        }
        #usersDiv{
            float:right;
        }
        .userImage{
            width:40px;
            height:40px;
            display:inline-block;
        }
        .navImage{
            float:right;
            width:35px;
            height:35px;
        }
        #bottombar{
            position: absolute;
            bottom:10px;
            right: 10px;
        }
        #pageSelector{
            float:right;
            width:5em;
        }
    </style>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <div id = "container">
        <div id="topbar">
            <span id="titleDiv" class="form-outline">
                <input type="text" id="cdTitle" class="form-control" value="Test Document Title"/>
            </span>
            <span id = "rightAligned">
                <span id="currentUserDiv">
                    <img class="userImage" src="https://www.gravatar.com/avatar/{{currentUser.hash}}" title = "You"/>
                </span>
                <span id="usersDiv">
                    {% for user in activeUsers %}
                        {% if user['uname'] != currentUser['uname'] %}
                            <img class = "userImage" src="https://www.gravatar.com/avatar/{{user['hash']}}" title="{{user['uname']}}" />
                        {% endif %}
                    {% endfor %}
                </span>
            </span>
        </div>
        <div id="mainCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for i in range(len(analysisObject.ROIs)) %}
                    <div class="carousel-item" id="ROI-{{i}}"></div>
                    <script>
                        var dataTrace = {
                            x : {{analysisObject.ROIs[i].get_energies()}},
                            y : {{analysisObject.ROIs[i].get_cps()}},
                            mode : "scatter",
                            name : "Data"
                        };
                        {% if analysisObject.ROIs[i].fitted %}
                            var fittedXY = analysisObject.ROIs[i].get_fitted_curve();
                            var fitTrace = {
                                x : fittedXY[0],
                                y : fittedXY[1],
                                mode : "line",
                                name : "Fit"
                            }
                            var peakCtrs = {{[p.get_ctr() for p in analysisObject.ROIs[i].get_peaks()]}};
                            var peakAmps = peakCtrs.map(x => fittedXY[1][Math.floor((x - fittedXY[0][0])*100)]);
                            var peakTrace = {
                                x : peakCtrs,
                                y : peakAmps,
                                mode : "scatter",
                                name : "peaks" 
                            }
                            var data = [dataTrace, fitTrace, peakTrace];
                        {% else %}
                            var data = [dataTrace];
                        {% endif %}
                        var range = {{analysisObject.ROIs[i].get_range()}}
                        var layout = {
                            title : Math.floor(range[0]).toString() + "keV to " + Math.floor(range[0]).toString() +"keV, fitting for Isotopes "+{{", ".join(set([kp.get_ele for kp in analysisObject.ROIs[i].get_known_peaks()]))}}
                        };
                        plotly.newPlot("ROI-{{i}}", data, layout);
                    </script>
                {% endfor %}
            </div>
        </div>
        <div id="bottombar">
            <img src="/icons/chevron-double-right.svg" id="chev_d_right" class="navImage" onmouseover="addBdr(this);" onmouseout = "remBdr(this);" onClick="toTopEnd()"/>
            <img src="/icons/chevron-right.svg" id="chev_right" class="navImage" onmouseover="addBdr(this);" onmouseout = "remBdr(this);" onClick="upOne()"/>
            <select id = "pageSelector" class="form-select" aria-label="Default select example" onchange="updatePage(this);">
                {% for i in range(len(analysisObject.ROIs)) %}
                    {{% if i==1 %}}
                        <option selected value="1">1</option>
                    {% else %}
                        <option value="{{i}}">{{i}}</option>
                    {% endif %}
                {% endfor %}
              </select>
            <img src="/icons/chevron-left.svg" id="chev_left" class="navImage" onmouseover="addBdr(this);" onmouseout = "remBdr(this);" onClick = "downOne()"/>
            <img src="/icons/chevron-double-left.svg" id="chev_d_left"  class="navImage" onmouseover="addBdr(this);" onmouseout = "remBdr(this);" onClick="toBotEnd()"/>
        </div>
    </div>
    <script>
        numberPages = {{len(analysisObject.ROIs)}};
        carousel = document.getElementById("mainCarousel");
        carousel.carousel('pause');
        carousel.carousel(0);
        ps = document.getElementById("pageSelector");
        function addBdr(obj){
            obj.style.border = "3px solid black";
        }
        function remBdr(obj){
            obj.style.border = "";
        }
        function upOne(){
            if(parseInt(ps.value) != numberPages){
                ps.value = (parseInt(ps.value)+1).toString();
                carousel.carousel('next');
            }
        }
        function downOne(){
            if(parseInt(ps.value) != 1){
                ps.value = (parseInt(ps.value)-1).toString();
                carousel.carousel('prev');
            }
        }
        function toTopEnd(){
            ps.value=numberPages;
            carousel.carousel(numberPages - 1);
        }
        function toBotEnd(){
            ps.value=1;
            carousel.carousel(0);
        }
        function updatePage(obj){
            newPage = parseInt(obj.value);
            carousel.carousel(newPage - 1);
        }
    </script>
  </body>
</html>
