<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <style>
        li{
            height:2.5em;
        }
        html{
            margin-left:10px;
        }
        .mt{
            margin-top:10px;
        }
        .iso-label{
            float:left;
        }
        .rmv-btn{
            float:right;
        }
        .fl{
            float:left;
        }
    </style>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <h3 class="mt">Add ROIs</h3>
    <div class="container w-50 fl margin-top">
        <div class="row">
            <div class="col-sm">
                <input class="form-control w-50 fl" type="text" placeholder="Search Isotopes" id="search-input" onkeyup="applyFilter();">
            </div>
            <div class="col-sm">
                <h4>Selected Isotopes</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <ul class="list-group" id="allIsotopes">
                    {% for iso in analysisObject.get_all_isotopes() %}
                        <li class='list-group-item w-50 fl' onclick="addIsotope('{{iso}}');">
                            <p class='iso-label'>{{iso}}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm">
                <ul class="list-group" id="selectedIsotopes"></ul>
                <button class="btn btn-secondary" onclick="submitROIs()">Submit</button>
            </div>
        </div>
    </div>
    <script>
        selectedIsotopes = []
        function addIsotope(isotope){
            selectedIsotopes.push(isotope);
            newElement = "<p class='iso-label'>" + isotope  + "</p>"
            removeButton = '<img class="rmv-btn" src="/icons/file-x.svg" onclick="removeIsotope('+"'"+isotope+"'"+')">'
            var ufl = document.getElementById("selectedIsotopes");
            ufl.innerHTML += "<li class='list-group-item w-50' id='"+isotope+"'>" + newElement + removeButton +"</li>";
        }
        function removeIsotope(name){
            document.getElementById(name).remove();
            for(var i=0;i<selectedIsotopes.length;i++){
                if(selectedIsotopes[i].name === name){
                    selectedIsotopes.splice(i,1);
                    break;
                }
            }
        }
        function applyFilter(){
            var input = document.getElementById("search-input");
            var filter = input.value.toUpperCase();
            ul = document.getElementById("allIsotopes");
            li = ul.getElementsByTagName('li');
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByClassName("iso-label")[0];
                txtValue = a.textContent || a.innerText;
                if (filter.length == 0 || !(txtValue.toUpperCase().indexOf(filter) > -1)) {
                li[i].style.display = "none";
                } else {
                li[i].style.display = "";
                }
            }
        }
        function submitROIs(){
            if(selectedIsotopes.length === 0){
                return null;
            }
            var data = new FormData();
            var request = new XMLHttpRequest();
            var url = window.location.href;
            for(var i=0;i<selectedIsotopes.length;i++){
                data.append("isotopes",selectedIsotopes[i]);
            }
            request.addEventListener("load", function (e) {
                if (request.status == 200) {
                    window.location.replace(window.location.href.toString().replace("setup","edit"))
                }
            });
            request.open("post", url);
            request.send(data);

        }
        applyFilter();
    </script>
  </body>
</html>