<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <script src="https://cdn.plot.ly/plotly-2.1.0.min.js"></script>
    <style>
        .navImage{
            float:right;
            width:35px;
            height:35px;
        }
        #pageSelector{
            float:right;
            width:5em;
        }
        .carousel-item{
            height: 85vh;
        }
        .col-8{
            height: 100%;
        }
        .col-4{
            height: 100%;
        }
        #topbar{
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
        }
        .mt{
            margin-top: 10px;
        }
        .rmv-btn{
            float: right;
        }
        .iso-label{
            height: .75em;
            float:left;
        }
        .fl{
            float:left;
        }
    </style>
    <title>PGAA Data Analysis Window</title>
  </head>
  <body>
    <script>
        filesList = {{analysisObject.get_filename_list()|safe}}; 
        {% if analysisObject.delayed %}
            var NAATimes = {{analysisObject.get_naa_times()|safe}};
        {% endif %}
        
    </script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/view.js"></script>

    <div id="container">
        <div class="modal fade" id="errorModal" tabindex="-3" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="errorModalLabel">Error</h5>
                </div>
                <div class="modal-body">
                  <p id="errorText"></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          
          <div class="modal fade" id="warningModal" tabindex="-2" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="warningModalLabel">Warning</h5>
                </div>
                <div class="modal-body">
                  <p id="warningText"></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Confirm Deletion</h5>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete the entire project?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="/projects/{{projectID}}/delete">Delete Project</a>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    
        {% if analysisObject.delayed %}
            <div class="modal fade" id="timeEntryModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Time Entry</h5>
                    </div>
                    <div class="modal-body">
                        <div class="cotainer-flex">
                            <div class="row">
                                <div class="col-4">
                                    <p>Filename</p>                                    
                                </div>
                                <div class="col-8">
                                    <select id="timeFileSelect" onchange="updateShownTimes();">
                                        {% for fname in analysisObject.fileList %}
                                            <option value="{{pathSplit(fname)[1]}}">{{pathSplit(fname)[1]}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p>Irradiation Time (min)</p>
                                </div>
                                <div class="col-8">
                                    <input class="form-control" id="irrTimeInput"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p>Wait Time (min)</p>
                                </div>
                                <div class="col-8">
                                    <input class="form-control" id="waitTimeInput"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="sendNAATimes();">Update</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
        {% endif %}

        <div class="modal fade" id="compareSpectraModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="compareModalLabel">Compare Spectra</h5>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-8">
                                <div id="compareSpectraPlot"></div>
                            </div>
                            <div class="col-4">
                                <h5>Settings</h5>
                                <label class="mt" for="file1Select">Select File 1</label>
                                <select class="form-select" id="file1Select">
                                    {% for fname in analysisObject.fileList %}
                                        <option value="{{pathSplit(fname)[1]}}">{{pathSplit(fname)[1]}}</option>
                                    {% endfor %}
                                </select>
                                <label class="mt" for="file1Select">Select File 2</label>
                                <select class="form-select" id="file2Select">
                                    {% for fname in analysisObject.fileList %}
                                        <option value="{{pathSplit(fname)[1]}}">{{pathSplit(fname)[1]}}</option>
                                    {% endfor %}
                                </select>
                                <label class="mt" for="compRangeSelect">Select Range</label>
                                <select class="form-select" id="compRangeSelect" onchange="updateRangeForm();">
                                    <option selected value="custom">Custom Range</option>
                                    {% for i in range(analysisObject.ROIs|length) %}
                                        <option value="{{analysisObject.ROIs[i].get_formatted_range()[0]}},{{analysisObject.ROIs[i].get_formatted_range()[1]}}">{{analysisObject.ROIs[i].get_formatted_range()[0]}}-{{analysisObject.ROIs[i].get_formatted_range()[1]}} keV ({{', '.join(analysisObject.ROIs[i].get_isotopes())}})</option>
                                    {% endfor %}
                                </select>
                                <div class="collapse show" id="customRangeForm">
                                    <div class="card card-body">
                                        <label for="lowerBoundInput">Min. Energy (keV)</label>
                                        <input id="lowerBoundInput" class="form-control"/>
                                        <label for="upperBoundInput">Max. Energy (keV)</label>
                                        <input id="upperBoundInput" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="overlayCheckbox">
                                    <label class="form-check-label" for="overlayCheckbox">
                                        Overlay Graphs
                                    </label>
                                </div>
                                <button class="btn btn-secondary mt" onclick="updateCompareModal();">Update Graph</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade bd-example-modal-lg" id="updateROIModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ROIModalLabel">Add/Update ROIs</h5>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <input class="form-control w-50 fl" type="text" placeholder="Search Isotopes" id="search-input" onkeyup="applyFilter();">
                            </div>
                            <div class="col-6">
                                <h6>Selected Isotopes</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <ul class="list-group" id="allIsotopes">
                                    {% for iso in analysisObject.get_all_isotopes() %}
                                        <li class='list-group-item w-50 fl' style = "display: None; height: 2.5em;" onclick="addIsotope('{{iso}}');">
                                            <p class='iso-label'>{{iso}}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="list-group" id="selectedIsotopes">
                                    {% for iso in analysisObject.get_isotopes() %}
                                        <li class='list-group-item w-50 fl' id='{{iso}}'>
                                            <p class='iso-label'>{{iso}}</p>
                                            <img class="rmv-btn" src="/icons/file-x.svg" onclick="removeIsotope('{{iso}}')">
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-dismiss="modal" onclick="submitROIs()">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
        <div class="modal fade" id="updatePrefsModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="updatePrefsLabel">Update Preferences</h5>
                </div>
                <div class="modal-body">
                  <div class="container-flex">
                      <div class="row">
                          <div class="col-4">
                              <p>Peak Type</p>
                          </div>
                          <div class="col-8">
                              <select id="prefPeakType">
                                {% for k in som["peaks"].keys() %}
                                    <option {% if k == analysisObject.userPrefs['peak_type'] %} selected {% endif %} value="{{k}}">{{k}}</option>
                                {% endfor %}
                              </select>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-4">
                            <p>Boron Peak Type</p>
                        </div>
                        <div class="col-8">
                            <select id="prefBoronPeakType">
                                {% for k in som["peaks"].keys() %}
                                    <option {% if k == analysisObject.userPrefs['boron_peak_type'] %} selected {% endif %} value="{{k}}">{{k}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <p>Background Type</p>
                        </div>
                        <div class="col-8">
                            <select id="prefBGType">
                                {% for k in som["backgrounds"].keys() %}
                                    <option {% if k == analysisObject.userPrefs['background_type'] %} selected {% endif %} value="{{k}}">{{k}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <p>ROI Width</p>
                        </div>
                        <div class="col-8">
                            <input class="form-control" id="prefROIWidth" value="{{analysisObject.userPrefs['roi_width']}}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <p>B-11 ROI Width</p>
                        </div>
                        <div class="col-8">
                            <input class="form-control" id="prefBoronROIWidth" value="{{analysisObject.userPrefs['B_roi_width']}}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="overlapROICheck" {% if analysisObject.userPrefs["overlap_rois"] %}checked{% endif %}>
                            <label class="form-check-label" for="overlapROICheck">
                              Overlap ROIs
                            </label>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="sendPrefUpdates();">Submit</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <div class="container-flex" style="width:98vw;">
        <div id="topbar" class="row">
            <div class="col-2">
                <input type="text" id="cdTitle" class="form-control" onfocusout="updateTitle();" value="{{analysisObject.title}}"/>
            </div>
            <div class="col-6">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateROIModal">Add/Edit ROIs</button>
                {% if analysisObject.delayed %}
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#timeEntryModal">Edit Time Values</button>
                {% endif %}
                {% if analysisObject.resultsGenerated %}
                    <button class="btn btn-secondary" onclick="window.location.replace(window.location.href.replace('view', 'results'));">View Results</button>
                {% endif %}
            </div>
            <div class="col-4">
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#updatePrefsModal">Settings</button>
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Delete Project</button>
            </div>
        </div>
        <div class="row">
        <div id="mainCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for i in range(analysisObject.fileData|length) %}
                    <div class="carousel-item container-fluid {% if i==0 %} active{% endif %}" id="file-{{i}}-container">
                        <div class="row align-items-start" id="mainRow-{{i}}" style="height:100%;">
                            <div class="col-8" id="file-{{i}}"></div>
                            <div class="col-4">
                                <label for="zoomtoRegion-{{i}}">Zoom to Region</label>
                                <select id="zoomToRegion-{{i}}" class="form-select w-50">
                                    <option selected value="">Whole Spectrum</option>
                                    {% for i in range(analysisObject.ROIs|length) %}
                                        <option value="{{','.join(analysisObject.ROIs[i].get_formatted_range())}},{{analysisObject.ROIs[i].get_indicies()[0]}},{{analysisObject.ROIs[i].get_indicies()[1]}}">{{'-'.join(analysisObject.ROIs[i].get_formatted_range())}} keV ({{', '.join(analysisObject.ROIs[i].get_isotopes())}})</option>
                                    {% endfor %}
                                </select>
                                <button class="btn btn-secondary" onclick="zoomToRegion({{i}});">Zoom</button>
                                <div style="height: 5vh;"></div>
                                <label for="minEnergyInput-{{i}}">Min. Energy</label>
                                <div></div>
                                <input class="form-data w-50" id="minEnergyInput-{{i}}" onfocusout="updateRange({{i}});"/>
                                <div></div>
                                <label for="maxEnergyInput-{{i}}">Max. Energy</label>
                                <div></div>
                                <input class="form-data w-50" id="maxEnergyInput-{{i}}" onfocusout="updateRange({{i}});"/>
                                <div></div>
                                <button class="btn btn-secondary" onclick="showCompareModal({{i}});">Compare This Region</button>
                                <div style="height: 5vh;"></div>
                                <a class="btn btn-secondary" href="/results/{{projectID}}/{{pathSplit(analysisObject.fileList[i])[1].split('.')[0] + '_xy.csv'}}">Download File as CSV</a>
                            </div>
                        </div>
                    </div>
                    <script>
                        var dataTrace = {
                            x : {{analysisObject.fileData[i]["energies"]|list}},
                            y : {{analysisObject.fileData[i]["cps"]|list}},
                            mode : "lines",
                            name : "Data"
                        }
                        var layout = {
                            title : "{{pathSplit(analysisObject.fileList[i])[1]}}",
                            showlegend: true,
                            margin: {
                                l: 50,
                                r: 50,
                                b: 100,
                                t: 100,
                                pad: 4
                            },
                            xaxis:{
                                title: "Energy (keV)"
                            },
                            yaxis:{
                                title: "Counts Per Second"
                            }
                        }
                        Plotly.newPlot("file-{{i}}", [dataTrace], layout, universalPlotConfig);
                    </script>
                {% endfor %}
            </div>
        </div>
        </div>
        <div class="row">
        <div id="bottombar" class="container-fluid">
            <div class="row">
                <div class="col-6"></div>
                <div id="carouselControl" class="col-2">
                    <img src="/icons/chevron-double-right.svg" id="chev_d_right" class="navImage" onmouseover="addBdr(this);" onmouseout = "remBdr(this);" onClick="toTopEnd()"/>
                    <img src="/icons/chevron-right.svg" id="chev_right" class="navImage" onmouseover="addBdr(this);" onmouseout = "remBdr(this);" onClick="upOne()"/>
                    <select id = "pageSelector" class="form-select" aria-label="Default select example" onchange="updatePage(this);">
                        {% for i in range(analysisObject.fileList|length) %}
                            {% if i==0 %}
                                <option selected value="1">1</option>
                            {% else %}
                                <option value="{{i+1}}">{{i+1}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <img src="/icons/chevron-left.svg" id="chev_left" class="navImage" onmouseover="addBdr(this);" onmouseout = "remBdr(this);" onClick = "downOne()"/>
                    <img src="/icons/chevron-double-left.svg" id="chev_d_left"  class="navImage" onmouseover="addBdr(this);" onmouseout = "remBdr(this);" onClick="toBotEnd()"/>
                </div>
                <div class="col-4">
                    <button id="startAnalysis" class="btn btn-primary" onclick="startAnalysis()">Start Analysis</button>
                </div>
        </div>
    </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script>
        numberPages = {{analysisObject.fileList|length}};
    </script>
    <script src="/static/js/mainBottom.js"></script>
    <script src="/static/js/viewBottom.js"></script>
</body>
</html>
